{% extends "publication/base_admin1.html" %}

{% block content %}
    <row>
        <form action="{% url 'staff'  %}" method="POST">
            <div class="form-group">
                <input type="hidden" required class="form-control" name="_method" id="_method" value = "PUT">
                <input type="hidden" required class="form-control" name="new_id" id="new_id" value = "{{ employee.ID_employee }}">

                <label>ФИО</label>
                <input type="text" required class="form-control" name="name" id="name" value = "{{ employee.FIO }}">
                <label>Дата рождения</label>
                <input type="date" required class="form-control" name="date" id="date" value = "{{ employee.Date }}">

                <label>Должность</label>
                <select id="RequestType" class="form-control" name="position" id="position">
                    {% for position in positions %}
                        <option selected value= "{{ position.ID_position }}">
                            {{ position.Name }}
                        </option>
                    {% endfor %}
                </select>

                <label>Кафедра</label>
                <select id="RequestType" class="form-control" name="department" id="department">
                    {% for depatrment in depatrments %}
                        <option selected value= "{{ depatrment.ID_department }}">
                            {{ depatrment.Name }}
                        </option>
                    {% endfor %}
                </select>

                <label>Ученая степень</label>
                <select id="RequestType" class="form-control" name="degree" id="degree">
                    {% for degree in degrees %}
                        <option selected value= "{{ degree.ID_academic_degree }}">
                            {{ degree.Name }}
                        </option>
                    {% endfor %}
                </select>

                <label>Ученое звание</label>
                <select id="RequestType" class="form-control" name="title" id="title">
                    {% for t in title %}
                        <option selected value= "{{ t.ID_academic_title }}">
                            {{ t.Name }}
                        </option>
                    {% endfor %}
                </select>

                <label>Логин</label>
                <input type="text" required class="form-control" name="login" id="login" value = "{{ employee.login }}">
                <label>Пароль</label>
                <input type="text" required class="form-control" name="password" id="password" value = "{{ employee.password }}">

            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Обновить</button>
            </div>
        </form>
{% endblock %}