  {% extends "publication/new_base.html" %}

{% block content %}
  <main role="main">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Добавить статью</h1>

          </div>

<row>



        <form action="" method="POST">
          <div class="form-group">
          <input type="hidden" required class="form-control" name="_method" id="_method" value = "POST">
          <label>Название</label>
                            <input type="text" required class="form-control" name="id_defect" id="id_defect">
               <label>Название журнала/сборника</label>
                            <select id="RequestType" class="form-control" name="id_status" id="id_status">

                                    <option selected value= "">

                                    </option>

                            </select>
               <label>Тип</label>
                            <select id="RequestType" class="form-control" name="id_status" id="id_status">

                                    <option selected value= "">

                                    </option>

                            </select>

          <label>DOI</label>
                            <input type="text" required class="form-control" name="id_defect" id="id_defect">
          <label>Автор: </label>
           <label>Иванов Иван Иванович</label><br>
          <div class="btn-group">
  <button type="button" class="btn btn-outline-secondary dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Добавить соавтора
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="/fio">Внешний</a>
    <a class="dropdown-item" href="/legal_entities">Сотрудник</a>
    <a class="dropdown-item" href="/payment_period">Студент</a>

  </div>
</div>
                    <br><label>Год</label>
                            <input type="text" required class="form-control" name="id_defect" id="id_defect">
              <br><label>№ выпуска</label>
                            <input type="text" required class="form-control" name="id_defect" id="id_defect">
              <br><label>Том</label>
                            <input type="text" required class="form-control" name="id_defect" id="id_defect">
              <br><label>Страница начальная</label>
                            <input type="text" required class="form-control" name="id_defect" id="id_defect">
              <br><label>Страница конечная</label>
                            <input type="text" required class="form-control" name="id_defect" id="id_defect">


               <label>Издательство</label>
                            <select id="RequestType" class="form-control" name="id_status" id="id_status">

                                    <option selected value= "">

                                    </option>

                            </select>



               <label>

          <input type="checkbox" value="remember-me">Googlescholar
        </label>
               <br>
               <label>
          <input type="checkbox" value="remember-me">РИНЦ
РИНЦДа
        </label>
                             <br>
               <label>
          <input type="checkbox" value="remember-me">РИНЦ
WebOfScience
        </label>
                             <br>
               <label>
          <input type="checkbox" value="remember-me">РИНЦ
Входит в специализированные информационно-аналитические системы
        </label>
                                           <br>
               <label>
          <input type="checkbox" value="remember-me">РИНЦ
Scopus
        </label>
                                                         <br>
               <label>
          <input type="checkbox" value="remember-me">РИНЦ
ВАК
        </label>
                                                         <br>
               <label>
          <input type="checkbox" value="remember-me">РИНЦ
ERIH
        </label>
<br>
              <label>Ссылка на сайт</label>
                            <input type="text" required class="form-control" name="id_defect" id="id_defect">

               <label>Файл в формате PDF</label><br>
              <button class="btn btn-outline-primary btn-sm" type="sbumit">Прикрепить</button><br>

              <label>Примечание</label>
                            <input type="text" required class="form-control" name="id_defect" id="id_defect">
          </div>
          <div class="form-group">
            <button class="btn btn-outline-primary btn-sm" type="sbumit">Добавить</button>
              <a class="btn btn-outline-secondary btn-sm" href="{% url 'my_publication' %}">Отмена</a>
          </div>
        </form>






        </main>

 {% endblock %}