<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Учет научных публикаций</title>

     <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


          {% load staticfiles %}
    <!-- Custom styles for this template -->
      <link rel="stylesheet" href="{% static 'publication/css/dashboard.css' %}" type="text/css" />
      <link rel="stylesheet" href="{% static 'publication/css/menu.css' %}" type="text/css" />


  </head>

  <body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Учет научных публикаций</a>
      <input class="form-control form-control-dark w-100" type="text" placeholder="Введите поисковой запрос" aria-label="Search">
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="{% url 'login'  %}">Выход</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
<nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>

                    <ul id="accordion" class="accordion">
                        <li>
                            <div class="link"><i class="fa fa-database"></i>Справочники<i class="fa fa-chevron-down"></i></div>
                            <ul class="submenu">
                                <li><a href="">Услуги</a></li>
                                <li><a href="">Запчасти</a></li>
                                <li><a href="">Устройства</a></li>
                                <li><a href="">Производители</a></li>
                            </ul>
                        </li>
                        <li>
                            <div class="link"><i class="fa fa-code"></i>Документы<i class="fa fa-chevron-down"></i></div>
                            <ul class="submenu">
                                <li><a href="">Акт приема</a></li>
                                <li><a href="">Договор на поставку</a></li>
                                <li><a href="">Акт выполненных работ</a></li>
                            </ul>
                        </li>
                        <li>
                            <div class="link"><i class="fa fa-mobile"></i>Учет<i class="fa fa-chevron-down"></i></div>
                            <ul class="submenu">
                                <li><a href="">Обращения</a></li>
                                <li><a href="">Запчасти в наличие</a></li>
                                <li><a href="">Запчасти реализованные</a></li>
                                 <li><a href="">Платежи</a></li>
                            </ul>
                        </li>
                        <li>
                            <div class="link"><i class="fa fa-globe"></i>Планы<i class="fa fa-chevron-down"></i></div>
                            <ul class="submenu">
                                <li><a href="">Закупок</a></li>
                                <li><a href="">Закупок</a></li>
                            </ul>
                        </li>
                    </ul>
                </ul>
            </div>
        </nav>

{% block content %}

{% endblock %}

      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% load staticfiles %}
    <script src="static/publication/js/menu.js"> </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="static/publication/js/jquery-slim.min.js"><\/script>')</script>
    <script src="static/publication/js/popper.min.js"></script>
    <script src="static/publication/js/bootstrap.min.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>
  </body>
</html>
