{% extends "publication/new_base.html" %}

{% block content %}

        <main role="main">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Последние публикации сообщества</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <!--<button class="btn btn-sm btn-outline-secondary">Экспорт</button>-->
              </div>


            <div class="btn-group">
<button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    По типу
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="">Монография</a>
    <a class="dropdown-item" href="">Пособие</a>
      <a class="dropdown-item" href="">НИР</a>
      <a class="dropdown-item" href="">Статья</a>


  </div>
</div>
            </div>
          </div>

          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Название</th>
                  <th>Автор</th>
                    <th>Тип</th>
                  <th>Факультет</th>
                    <th>Подробнее</th>
                </tr>
              </thead>
              <tbody>
              {% for publication in publications %}
                <tr>
                  <td>{{ publication.Name }}</td>
                  <td>{{ publication.ID_employee.FIO  }}</td>
                  <td>{{ publication.ID_type_publication.Name }}</td>
                  <td>{{ publication.ID_employee.ID_department.ID_faculty.Name }}</td>
                    <td><a class="btn btn-outline-secondary btn-sm" href="">Подробнее</a></td>
                </tr>
              {% endfor %}

              </tbody>
            </table>
          </div>
        </main>
{% endblock %}