{% extends "publication/new_base.html" %}

{% block content %}
    <main role="main">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Редактировать монографию</h1>

        </div>
        <row>
            <form action="{% url 'my_monografi' %}" method="POST">
                <div class="form-group">
                    <input type="hidden" required class="form-control" name="_method" id="_method" value = "PUT">
                    <input type="hidden" required class="form-control" name="new_id" id="new_id" value = "{{ publication.ID_publication }}">

                    <label>Название *</label>
                    <input type="text" required class="form-control" name="name" id="name" value = "{{ publication.Name }}">

                    <label>DOI *</label>
                    <input type="text" required class="form-control" name="DOI" id="DOI" value = "{{ publication.DOI }}">

                    <label>Год *</label>
                    <select id="RequestType" required class="form-control" name="year" id="year">
                        {% for year in years %}
                            <option selected value= "{{ year.ID_year }}">
                                {{ year.Name }}
                            </option>
                        {% endfor %}
                    </select>

                    <label>Город *</label>
                    <select id="RequestType" required class="form-control" name="city" id="city">
                        {% for city in cities %}
                            <option selected value= "{{ city.ID_city }}">
                                {{ city.Name }}
                            </option>
                        {% endfor %}
                    </select>

                    <label>Издательство *</label>
                    <select id="RequestType"  required class="form-control" name="publisher" id="publisher">
                        {% for publisher in publishers %}
                            <option selected value= "{{ publisher.ID_publisher }}">
                                {{ publisher.Name }}
                            </option>
                        {% endfor %}
                    </select>

                    <label>Число страниц *</label>
                    <input type="text" required class="form-control" name="number_pages" id="number_pages" value = "{{ publication.Issue_number}}">
                    <label>ISBN *</label>
                    <input type="text" required class="form-control" name="ISBN" id="ISBN" value = "{{ publication.ISBN }}">

                <label>Библиографическая база </label>
                    <select id="RequestType" class="form-control" name="biblio" id="biblio">
                        {% for b in biblio %}
                            <option selected value= "{{ b.ID_bibliographic_database }}">
                                {{ b.Name }}
                            </option>
                        {% endfor %}
                    </select>

                    <label>Ссылка на сайт</label>
                    <input type="text"  class="form-control" name="Link" id="Link" value = "{{ publication.Link }}">

                <label>Прикрепленный файл: {{ publication.File }}</label><br>
                    <label>Файл в формате PDF *</label><br>
                    <label for="files" class="btn btn-outline-primary btn-sm">Выбрать другой файл</label>
                    <input id="files" style="visibility:hidden;" type="file" name="document">

                    <label>Примечание</label>
                    <input type="text"  class="form-control" name="note" id="note" value = "{{ publication.Note }}">
                </div>
                <div class="form-group">
                    <button class="btn btn-outline-primary btn-sm" type="submit">Редактировать</button>
                    <a class="btn btn-outline-secondary btn-sm" href="{% url 'my_publication' %}">Отмена</a>
                </div>
            </form>






    </main>
{% endblock %}