{% extends "publication/new_base.html" %}

{% block content %}
    <main role="main">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Мои публикации</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group mr-2">
                    <!--<button class="btn btn-sm btn-outline-secondary">Экспорт</button>-->
                </div>

                <div class="btn-group">
                    <button type="button" class="btn btn-outline-secondary dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        По статусу
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="">Опубликовано</a>
                        <a class="dropdown-item" href="">Ожидает подтвержения</a>
                        <a class="dropdown-item" href="">Отклонено</a>
                    </div>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-secondary dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        По типу
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="">Монография</a>
                        <a class="dropdown-item" href="">Пособие</a>
                        <a class="dropdown-item" href="">Статья</a>
                        <a class="dropdown-item" href="">НИР</a>
                        <a class="dropdown-item" href="">Патенты</a>

                    </div>
                </div>
            </div>
        </div>


        <div class="btn-group">
            <button type="button" class="btn btn-outline-secondary dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Добавить
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'my_monografi' %}">Монография</a>
                <a class="dropdown-item" href="{% url 'my_publication_add_study' %}">Пособие</a>
                <a class="dropdown-item" href="{% url 'my_publication_add_article' %}">Статья</a>
                <a class="dropdown-item" href="{% url 'my_publication_add_NIR' %}">НИР</a>

            </div>
        </div>
        <div><br></div>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th>Название</th>
                    <th>Авторы</th>
                    <th>Тип</th>
                    <th>Факультет</th>
                    <th>Статус</th>
                    <th>Подробнее</th>
                    <th>Редактировать</th>
                    <th>Удалить</th>
                </tr>
                </thead>
                <tbody>
                {% for publication in publications %}
                    <tr>
                        <td>{{ publication.Name  }}</td>
                        <td>{{ publication.ID_employee.FIO }}</td>
                        <td>{{ publication.ID_type_publication.Name }}</td>
                        <td>{{ publication.ID_employee.ID_department.ID_faculty.Name }}</td>
                        <td>{{ publication.ID_status.Name }}</td>

                        {% if publication.ID_type_publication.Name == "Монография" %}
                            <td><a class="btn btn-outline-secondary btn-sm" href="{% url 'monografi_more' id=publication.ID_publication  %}">Подробнее</a></td>
                        {% endif %}

                        {% if publication.ID_status.Name != "Опубликовано" %}
                            {% if publication.ID_type_publication.Name == "Монография" %}
                                <td><a class="btn btn-outline-secondary btn-sm" href="{% url 'my_monografi_update' id=publication.ID_publication  %}">Редактировать</a></td>
                            {% endif %}

                            <td>
                                <form action="{% url 'my_publication' %}" method="POST">
                                    <input type="hidden" required class="form-control" name="_method" id="_method" value = "DELETE">
                                    <input type="hidden" required class="form-control" name="publication" id="publication" value = "{{ publication.ID_publication}}">
                                    <input type="submit" class="btn btn-outline-danger btn-sm" value="Удалить" >
                                </form>
                            </td>

                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock %}