 {% extends "publication/base_admin1.html" %}

{% block content %}
 <main role="main">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Сформировать отчет по кафедре</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
              </div>
            </div>
          </div>

<form action="{% url 'report_on_the_departments'  %}" method="POST">

    <label>Кафедра</label>
    <select id="RequestType" class="form-control" name="id_department" id="id_department">
                                {% for department in departments %}
                                    <option selected value= "{{ department.ID_department }}">
                                        {{ department.Name }}
                                    </option>
                                {% endfor %}
                            </select>


<label>Год</label>
    <select id="RequestType" class="form-control" name="id_year" id="id_year">
                                {% for y in year %}
                                    <option selected value= "{{ y.ID_year }}">
                                        {{ y.Name }}
                                    </option>
                                {% endfor %}
                            </select>

                <div class="form-group">
                    <button class="btn btn-outline-primary btn-sm" type="submit">Cформировать</button>
                </div>
</form>

        </main>
{% endblock %}