{% extends "publication/new_base.html" %}

{% block content %}

    <main role="main">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Добавить пособие</h1>
        </div>
        <row>
            <form action="{% url 'my_study' %}" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <input type="hidden" required class="form-control" name="_method" id="_method" value = "POST">
                    <label>Название *</label>
                    <input type="text" required class="form-control" name="name" id="name">
                    <label>Тип *</label>
                    <select id="RequestType" class="form-control" name="benefit" id="benefit">
                        {% for benefit in benefits %}
                            {% if benefit.Name != "Отсутствует" %}
                            <option selected value= "{{ benefit.ID_benefit_type }}">
                                {{ benefit.Name }}
                            </option>
                            {% endif %}
                        {% endfor %}
                    </select>

                    <label>DOI</label>
                    <input type="text" class="form-control" name="DOI" id="DOI">

                    <label>Год</label>
                    <select id="RequestType" class="form-control" name="year" id="year">
                        {% for year in years %}
                            {% if year.Name != "Отсутствует" %}
                            <option selected value= "{{ year.ID_year }}">
                                {{ year.Name }}
                            </option>
                            {% endif %}
                        {% endfor %}
                    </select>

                    <label>Город</label>
                    <select id="RequestType" class="form-control" name="city" id="city">
                        {% for city in cities %}
                            {% if city.Name != "Отсутствует" %}
                            <option selected value= "{{ city.ID_city }}">
                                {{ city.Name }}
                            </option>
                            {% endif %}
                        {% endfor %}
                    </select>

                    <label>Издательство</label>
                    <select id="RequestType" class="form-control" name="publisher" id="publisher">
                        {% for publisher in publishers %}
                            {% if publisher.Name != "Отсутствует" %}
                            <option selected value= "{{ publisher.ID_publisher }}">
                                {{ publisher.Name }}
                            </option>
                            {% endif %}
                        {% endfor %}
                    </select>

                    <label>ISBN</label>
                    <input type="text" class="form-control" name="ISBN" id="ISBN">

                    <label>Гриф</label>
                    <select id="RequestType" class="form-control" name="vulture" id="vulture">
                        {% for vulture in vulturies %}
                            {% if vulture.Name != "Отсутствует" %}
                            <option selected value= "{{ vulture.ID_vulture }}">
                                {{ vulture.Name }}
                            </option>
                            {% endif %}
                        {% endfor %}
                    </select>

                    <label>Число страниц</label>
                    <input type="text" class="form-control" name="number_pages" id="number_pages">

                    <label>Библиографическая база</label>
                    <select id="RequestType" class="form-control" name="biblio" id="biblio">
                        {% for biblio in biblios %}
                            <option selected value= "{{ biblio.ID_bibliographic_database }}">
                                {{ biblio.Name }}
                            </option>
                        {% endfor %}
                    </select>

                    <label>Ссылка на сайт</label>
                    <input type="text" class="form-control" name="Link" id="Link">

                    <label>Файл в формате PDF *</label><br>
                    <label for="files" class="btn btn-outline-primary btn-sm">Выбрать файл</label>
                    <input id="files" style="visibility:hidden;" type="file" name="document">

                    <br><label>Примечание</label>
                    <input type="text" class="form-control" name="note" id="note">
                </div>
                <div class="form-group">
                    <button class="btn btn-outline-primary btn-sm" type="submit">Добавить</button>
                    <a class="btn btn-outline-secondary btn-sm" href="{% url 'my_publication' %}">Отмена</a>
                </div>
            </form>
    </main>

    {% load staticfiles %}
    <script src="static/publication/js/upload_file.js"> </script>
{% endblock %}