<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard Template for Bootstrap</title>

     <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


    <!-- Custom styles for this template -->
    <link href="static/dashboard.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Учет научных публикаций</a>
      <input class="form-control form-control-dark w-100" type="text" placeholder="Введите поисковой запрос" aria-label="Search">
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#">Выход</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="#">
                  <span data-feather="home"></span>
                  Главная <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file"></span>
                  Мои публикации
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="bar-chart-2"></span>
                  Отчеты
                </a>
              </li>
            </ul>

          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Добавить пособие</h1>

          </div>

<row>



        <form action="" method="POST">
          <div class="form-group">
          <input type="hidden" required class="form-control" name="_method" id="_method" value = "POST">
          <label>Название</label>
                            <input type="text" required class="form-control" name="id_defect" id="id_defect">
              <label>Тип</label>
                            <select id="RequestType" class="form-control" name="id_status" id="id_status">

                                    <option selected value= "">

                                    </option>

                            </select>

          <label>DOI</label>
                            <input type="text" required class="form-control" name="id_defect" id="id_defect">
          <label>Автор: </label>
           <label>Иванов Иван Иванович</label><br>
          <div class="btn-group">
  <button type="button" class="btn btn-outline-secondary dropdown-toggle btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Добавить соавтора
  </button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="/fio">Внешний</a>
    <a class="dropdown-item" href="/legal_entities">Сотрудник</a>
    <a class="dropdown-item" href="/payment_period">Студент</a>

  </div>
</div>
                    <br><label>Год</label>
                            <input type="text" required class="form-control" name="id_defect" id="id_defect">

           <label>Город</label>
                            <select id="RequestType" class="form-control" name="id_status" id="id_status">

                                    <option selected value= "">

                                    </option>

                            </select>

               <label>Издательство</label>
                            <select id="RequestType" class="form-control" name="id_status" id="id_status">

                                    <option selected value= "">

                                    </option>

                            </select>

              <label>Число страниц</label>
                            <input type="text" required class="form-control" name="id_defect" id="id_defect">
              <label>ISBN</label>
                            <input type="text" required class="form-control" name="id_defect" id="id_defect">
              <label>Гриф</label>
                            <select id="RequestType" class="form-control" name="id_status" id="id_status">

                                    <option selected value= "">

                                    </option>

                            </select>
              <br>

               <label>

          <input type="checkbox" value="remember-me">Googlescholar
        </label>
               <br>
               <label>
          <input type="checkbox" value="remember-me">РИНЦ
РИНЦДа
        </label>
<br>
              <label>Ссылка на сайт</label>
                            <input type="text" required class="form-control" name="id_defect" id="id_defect">

               <label>Файл в формате PDF</label><br>
              <button class="btn btn-outline-primary btn-sm" type="sbumit">Прикрепить</button><br>

              <label>Примечание</label>
                            <input type="text" required class="form-control" name="id_defect" id="id_defect">
          </div>
          <div class="form-group">
            <button class="btn btn-outline-primary btn-sm" type="sbumit">Добавить</button>
              <button class="btn btn-outline-secondary btn-sm" type="sbumit">Отмена</button>
          </div>
        </form>






        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="static/jquery-slim.min.js"><\/script>')</script>
    <script src="static/popper.min.js"></script>
    <script src="static/bootstrap.min.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>
